<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>CodePin</title>
</head>
<body>
    <header>
        <img class="logo" src="images/codepin-logo.jpg" alt="CodePin Logo">
        <ul>
            <a class="button" id="logInButton" href="/login">Login</a>
            <a class="button" id="signUpButton" href="/signup"> Signup</a>
        </ul>
    </header>
    <main>
        <h1>
            <span class="blueText">Code it.</span>
            <span class="greyText">See it.</span>
            <span class="redText">Pin it.</span>
        </h1>
        <section class="exampleSection">
            <img src="images/snippet-example-1.jpg" alt="code snippet example">
            <img src="images/snippet-example-3.jpg" alt="code snippet example">
            <img src="images/snippet-example-4.jpg" alt="code snippet example">
            <img src="images/snippet-example-7.jpg" alt="code snippet example">
            <img src="images/snippet-example-5.jpg" alt="code snippet example">
            <img src="images/snippet-example-6.jpg" alt="code snippet example">
        </section>
    </main>
</body>
</html>
