body {
    display: grid;
    place-items: center;
    background-color: var(--blue-color)
}

h1 {
    color: var(--orange-color);
}

#snippetsContainer {
    display: flex;
    gap: 20px;
}

.todoItem {
    display: grid;
    place-items: center;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: white;
    padding: 1rem .5rem;
}

.todoItem h3 {
    color: var(--orange-color);
    text-transform: uppercase;
}

.code {
    min-height: 100px;
    width: 60%;
    background-color: #373636;
    color: white;
    border-radius: 10px;
    padding: 2rem;;
}

.todoItem h4, .todoItem span {
    color: var(--orange-color);
}

.todoItem p {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

form textarea {
    min-width: 300px;
    min-height: 150px;
}

form ::placeholder {
    color: rgb(127, 97, 40);
    text-align: center
}

form > * {
    margin-top: 10px;
    border-radius: 5px;
}

form select {
    text-align: center;
}

.del {
    background-color: rgb(151, 27, 27);
    border: none;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: .5rem;
    width: 50%;
    margin-top: 20px;
}

.del:hover {
    background-color: rgb(176, 30, 30);
}

#submitButton {
    background-color: rgb(19, 159, 19);
    color: white;
    border-radius: 10px;
    border: none;
    padding: .5rem
}

#submitButton:hover {
    background-color: rgb(22, 111, 22);
}
