:root {
    --orange-color: #f1684e;
    --blue-color: #85c8dd;
}

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

/* has to be on code snippets to keep line breaks and indentions */
.wrapCode {
    white-space: pre-wrap;
}